.buttonsDiv {
	height: 45px;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-color: #ddd;
}

a.applyChanges {
	background: #0069d2;
	text-decoration: none;
	color: white;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border: 1px solid #aaa;
	border-radius: 5px;
	cursor: default;
	background: #0069d2;
	background: #0069d2;
}

a.applyChanges:hover {
	border-color: red;
	box-shadow: 0 0 2px #ccc;
	cursor: pointer;
}

a.applyChanges:active {
	vertical-align: -1px;
}

.outerDiv {
	padding-left: 15px;
}

.outerDims {
	width: 98%;
	height: 75px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
}

.lastDim {
	width: 98%;
	height: 378px;
	/* border: 1px solid black; */
}

.outerAvailDiv {
	width: 98%;
	height: 110px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
}

#avialDimensionsList, #ulValueDimensionsList {
	display: inline-table;
	width: 99%;
	padding: 0px;
	margin-left: 5px;
	height: 99%;
}

#rowDimensionsList {
	display: inline-table;
	width: 95%;
	height: 94%;
	padding: 0px;
	margin-left: 5px;
}

#columnDimensionsList {
	display: inline-table;
	width: 99%;
	height: 20px;
	padding: 0px;
	margin-left: 5px;
}

#avialDimensionsList li {
	display: inline-block;
	border: 1px solid black;
	margin-left: 5px;
	margin-top: 5px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #3A87AD;
	background-color: #3A87AD;
	color: #fff;
	cursor: move;
	font-size: 0.9em;
	opacity: 0.8;
	padding-left: 17px;
	padding-right: 17px;
}

#ulValueDimensionsList li, #columnDimensionsList li, #rowDimensionsList li
	{
	display: inline-block;
	border: 1px solid black;
	margin-left: 5px;
	margin-top: 5px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #3A87AD;
	background-color: #3A87AD;
	color: #fff;
	cursor: move;
	font-size: 0.9em;
	padding-left: 17px;
	padding-right: 17px;
}

.leftDiv {
	width: 15%;
	float: left;
	height: 100%;
}

.rightDiv {
	margin-left: 15%;
}

.rowDimDiv {
	height: 310px;
	overflow-y: auto;
}

.columnDimDiv {
	border-bottom: 1px solid black;
	height: 70px;
}

#pvtTable {
	height: 310px;
	width: 100%;
	overflow: auto;
	/* border: 1px solid transparent;
	border-color: #ddd; */
}